/* Hintergrund für den Body */
body {
  background: url("/res/img/Wallpaper3.jpg") center fixed no-repeat;
  background-size: cover;
}

/* Stil für Box-1 */
.Box-1 {
  margin-top: 7rem;
  margin-bottom: 3rem;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stil für die Tabelle */
.table {
  --bs-table-bg: #ffffff59 !important;
  --bs-table-border-color: none !important;
}

/* Stil für Navbar-Brand, Nav-Links und Footer-Links */
.navbar-brand, .nav-link, .footer a {
  color: white!important;
}
